// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

$main-font  :    'Montserrat', sans-serif;

//colors
$main-color: #4A7FB0;
$main-color-darck: #162c54;
$light-grey:#f1f1f1;
$darck-grey:#222